* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
    background: url(fundo-registro.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 10s linear infinite;
    -webkit-animation: animateBg 10s linear infinite;
    position: relative;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
}
}

section {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flexbox;
   
}


#voltarB {
    color: white;
    text-decoration: none;
}

nav {
    position: absolute;
    float: left;
    margin-left: -100px;
    margin-top: -230px;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
}

nav:hover {
    cursor: pointer;
    color: white;
}

#txt {
    text-align: left;
    display: none;
    margin-left: -27px;
    font-size: .8em;
}

#voltar:hover #txt { /*Faz com que quando passe o mouse em cima, mostre o texto*/
    display: block;
}

.caixa-info {
    width: 450px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    box-sizing: content-box;
    border: 2px solid rgb(259, 259, 259, .5);
    margin: 10px 0;
    margin-bottom: -10px;
    padding: 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(15px);
    padding-top: 15px;
}

h2 {
    text-align: center;
    font-size: 2em;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


section input {
    color: #fff;
    margin: 5px 0 20px 30px;
    padding: 10px;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
    text-align: center;
}


input[type = "radio"] {
    cursor: pointer;
}

input#nome, input#email, input#senha {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: -50px;
}


li {
    text-align: center;
    margin-bottom: 20px;
    list-style: none;
}

.caixa-cadastro {
    margin-top: -30px;
}

.caixa-cadastro li {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 50px;
}

#aceito {
    margin-right: 10px;
    align-self: center;
}

input[type="checkbox"] {
    position: relative;
    margin: 0;
    text-align: center;
    align-items: center;
    display: inline-flex;
    margin-bottom: 0px;
    cursor: pointer;
}

label {
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    align-self: center;
}

button {
    width: 200px;
    height: 50px;
    margin: -50px auto 0;
    padding: 0;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
    font-size: 1em;
    display: block;
    cursor: pointer;
}

button:hover {
    background: rgba(90, 156, 236, 0.973);
}
    

#termos{
    text-decoration: none;
    color: white;
}

#termos:hover {
    text-decoration: underline;
    color: blue;
}

@media (max-width: 360px) {
    .caixa-info {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .caixa-cadastro {
        width: 290px;
    }
}